<div class="container">
    <div class="row">
        <section class="col-3">

            <h5 class="text-warning ml-3">Sort</h5>
            <select class="custom-select mb-3">
                <option value="" selected>Alphabetical</option>
                <option value="">Price: Low to High</option>
                <option value="">Price: High to Low</option>
            </select>

            <h5 class="text-warning ml-3">Brands</h5>
            <div class="list-group my-3">
                <button type="button" class="list-group-item list-group-item-action active">
                  Cras justo odio
                </button>
                <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
              </div>
        
            <h5 class="text-warning ml-3">Types</h5>
            <div class="list-group my-3">
                <button type="button" class="list-group-item list-group-item-action active">
                  Cras justo odio
                </button>
                <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
              </div>

        </section>

        <section class="col-9">

            <div class="d-flex justify-content-between align-content-center pb-2">

                <header>
                    <span>Showing <strong>10</strong> of <strong>16</strong>Results</span>
                </header>

                <div class="form-inline mt-2 mt-md-0">

                    <input type="text" class="form-control mr-2" style="widows: 300px;" placeholder="Search...">

                    <button class="btn btn-outline-primary my-2">Search</button>
                    <button class="btn btn-outline-success my-2 ml-2">Reset</button>

                </div>

            </div>
           

            <div class="row">
                <div class="col-4 mb-4"  *ngFor="let item of products">
                  <app-product-item [product]="item"></app-product-item>
                </div>
            </div>
        </section>

    </div>

</div>

